# Python
__pycache__/
*.py[cod]

# Virtualenvs
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Streamlit
.streamlit/

# Model artifacts (if you want to track them remove these)
# model.pkl
# vectorizer.pkl

# IDE
.vscode/
